body {
  margin: 50px;
  background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1614280461_59-p-chernii-fon-dlya-chata-70.jpg);
  -webkit-background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: antiquewhite;
}

.error {
	background-color: tomato;
	color: white;
	border-radius: 6px;
	padding: 6px 12px;
	font-weight: bold;
	max-width: 400px;
	margin-bottom: 18px;
  }
